
/* Colors */
$orangePrimary:#D87D4A;
$orangeSecondary:#fbaf85;
$blackPrimary:#101010;
$blackSecondary:#000000;
$lightGrey:#F1F1F1;
$whitePrimary:#FAFAFA;
$normalWhite:#FFFFFF;



/* Font family*/
$mainFont:'Manrope', sans-serif;

