@import '../../index.scss';

.summary-container{

    padding: 15px;

    h6{
        font-size:20px;
        padding: 10px 0px;
    }

    div{
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .summary-numbers{
            font-weight: bold;
            font-size: 18px;
        }

        .title{
            color: grey;
        }
        .total{
            color: $orangePrimary;
        }
    }

   .btn{
       width: 100%;
    button{
        @include button1();
        margin: 0 auto;
        padding: 10px 60px;
    }

   }
}





@media screen and ( min-width:767px ) {
    .summary-container{


        .btn{
            button{
                width: 100%;
            }
        }
    }
}


@media screen and ( min-width:1024px ) {
    .summary-container{
            width: 40%;
        .btn{

        }
    }
}